@namespace MyMusic.Frontend.Shared
@inherits LayoutComponentBase

<div class="d-flex flex-column">
    <div class="flex-grow-1 d-flex">
        <Sidebar />
        <div class="flex-grow-1 overflow-scroll"
            style="min-height: calc(100vh - 6rem); max-height: calc(100vh - 6rem);">
            @Body
        </div>
    </div>
    <MusicPlayer />
</div>
